body {
  background-color: #0C0C0E;
}

header {
  background-color: #0C0C0E;
}

.about {
  background-color: #0C0C0E;
  position: relative;
}

.about .ellipse1 {
  position: absolute;
  bottom: -70px;
  left: 170px;
}

.about .ellipse2 {
  position: absolute;
  top: 20px;
  left: 450px;
}

.about .ellipse3 {
  position: absolute;
  right: 126px;
}

.about .row .blur-effect {
  color: white;
  line-height: 29.5px;
}

.about .row .blur-effect img {
  position: absolute;
  top: 100px;
  width: 100%;
}

.about .row .blur-effect .text-container {
  height: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(137, 0, 136, 0.26)), to(rgba(255, 255, 255, 0.12)));
  background: linear-gradient(180deg, rgba(137, 0, 136, 0.26) 0%, rgba(255, 255, 255, 0.12) 100%);
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border-radius: 15px;
  padding: 50px;
  margin: 80px 0;
}

.about .row .blur-effect .text-container p {
  font-weight: 300;
}

.whyUs {
  padding: 80px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whyUs span {
  font-weight: 500;
}

.whyUs .blurBoxEffect {
  position: relative;
}

.whyUs .blurBoxEffect .blurBox {
  width: 300px;
  height: 300px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(137, 0, 136, 0.26)), to(rgba(255, 255, 255, 0.12)));
  background: linear-gradient(180deg, rgba(137, 0, 136, 0.26) 0%, rgba(255, 255, 255, 0.12) 100%);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border-radius: 4px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
}

.whyUs .blurBoxEffect .blurBox i {
  font-size: 150px;
  opacity: 0.5;
}

.whyUs .blurBoxEffect img {
  position: absolute;
  right: 110px;
  bottom: -50px;
  opacity: 0.9;
}

.vision {
  padding: 0 0 80px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vision p {
  font-weight: 500;
}

.vision ul {
  font-weight: 300;
}

.vision .blurBoxEffect {
  position: relative;
}

.vision .blurBoxEffect .blurBox {
  width: 300px;
  height: 300px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(137, 0, 136, 0.26)), to(rgba(255, 255, 255, 0.12)));
  background: linear-gradient(180deg, rgba(137, 0, 136, 0.26) 0%, rgba(255, 255, 255, 0.12) 100%);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border-radius: 4px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
}

.vision .blurBoxEffect .blurBox i {
  font-size: 150px;
  opacity: 0.5;
}

.vision .blurBoxEffect img {
  position: absolute;
  left: 110px;
  top: -50px;
  opacity: 0.9;
}

.mission {
  padding: 0 0 80px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mission p {
  font-weight: 500;
  width: 60%;
  margin: 20px auto;
}

.mission hr {
  width: 50%;
  margin: auto;
}

.mission .blurBox {
  width: 300px;
  height: 300px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(137, 0, 136, 0.26)), to(rgba(255, 255, 255, 0.12)));
  background: linear-gradient(180deg, rgba(137, 0, 136, 0.26) 0%, rgba(255, 255, 255, 0.12) 100%);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border-radius: 4px;
  color: white;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
}

.mission .blurBox i {
  font-size: 150px;
  opacity: 0.5;
  margin: auto;
}

@media only screen and (max-width: 650px) {
  .about .ellipse1 {
    position: absolute;
    bottom: 23px;
    left: 144px;
    width: 50%;
  }
  .about .ellipse2 {
    position: absolute;
    top: 20px;
    left: 170px;
  }
  .about .ellipse3 {
    position: absolute;
    right: 126px;
  }
  .about .row .blur-effect .text-container {
    padding: 20px;
    margin: 40px 0;
  }
  .about .row .blur-effect .text-container p {
    font-weight: 300;
    font-size: 14px;
  }
  .whyUs {
    padding: 40px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .whyUs span {
    font-weight: 500;
  }
  .whyUs .blurBoxEffect img {
    position: absolute;
    right: 110px;
    bottom: -50px;
    opacity: 0.9;
    width: 50%;
  }
  .vision {
    padding: 0 0 80px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .vision p {
    font-weight: 500;
  }
  .vision ul {
    font-weight: 300;
  }
  .vision .blurBoxEffect img {
    position: absolute;
    left: 180px;
    top: 30px;
    opacity: 0.9;
    width: 50%;
  }
  .mission {
    padding: 0 0 80px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mission p {
    font-weight: 500;
    width: 100%;
    margin: 20px auto;
  }
  .mission hr {
    width: 50%;
    margin: auto;
  }
  .order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
/*# sourceMappingURL=aboutus.css.map */