header {
    background-color: black;
}

.career {
    background-image: url(../assests/career.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0;
    color: white;

    h1 {
        text-transform: uppercase;
    }

    h3 {
        font-weight: 300;
    }

    .container {
        background: linear-gradient(180deg, rgba(160, 160, 160, 0.315) 0%, rgba(212, 212, 212, 0.233) 100%);
        backdrop-filter: blur(30px);
        border-radius: 8px;
        border: 1px solid white;
        text-align: center;
        padding: 40px 0;
        -webkit-box-shadow: inset -1px 1px 5px 3px rgba(51, 51, 51, 0.47);
        -moz-box-shadow: inset -1px 1px 5px 3px rgba(46, 46, 46, 0.47);
        box-shadow: inset -1px 1px 5px 3px rgba(53, 53, 53, 0.47);
    }

    .values {
        padding: 40px 0;

        .blurBox {
            width: 300px;
            height: 300px;
            border-radius: 4px;
            border-radius: 10px;
            display: grid;
            text-align: center;


            i {
                font-size: 150px;
                opacity: 0.9;
                margin: 10px auto;
            }

        }
    }
}

.joinus {
    padding: 80px 0;

    h4 {
        color: purple;
        font-weight: 300;
    }


}

.applicationForm {
    padding: 0 0 80px 0;
    position: relative;

    img.Ellipse_3 {
        position: absolute;
        left: 100px;
        top: 200px;
    }

    img.Ellipse_1 {
        position: absolute;
        right: 100px;
        bottom: 200px;
    }

    .container {
        background: linear-gradient(180deg, rgba(160, 160, 160, 0.315) 0%, rgba(212, 212, 212, 0.233) 100%);
        backdrop-filter: blur(30px);
        border-radius: 8px;
        border: 1px solid white;
        padding: 40px;
        -webkit-box-shadow: inset -1px 1px 5px 3px rgba(51, 51, 51, 0.47);
        -moz-box-shadow: inset -1px 1px 5px 3px rgba(46, 46, 46, 0.47);
        box-shadow: inset -1px 1px 5px 3px rgba(53, 53, 53, 0.47);


        .row {
            p {
                font-weight: 500;
            }

            label {
                font-weight: 300;
            }

            input {
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.68) 0%, rgba(255, 255, 255, 0.47) 100%);
                backdrop-filter: blur(30px);
            }

            textarea {
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.68) 0%, rgba(255, 255, 255, 0.47) 100%);
                backdrop-filter: blur(30px);
            }

            select {
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.68) 0%, rgba(255, 255, 255, 0.47) 100%);
                backdrop-filter: blur(30px);
            }


        }
    }
}