.portfolio {
    padding: 80px 0;

    .container {
        background: linear-gradient(180deg, rgba(160, 160, 160, 0.315) 0%, rgba(212, 212, 212, 0.233) 100%);
        backdrop-filter: blur(30px);
        border-radius: 8px;
        border: 1px solid white;
        text-align: center;
        padding: 40px 0;

        .row {
            img {
                width: 100%;
            }

            p {
                padding: 10px;
            }

            align-items: center;
        }
    }
}