@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: linear-gradient(91.3deg, #EAE3EF 4.55%, #B5DAE7 49.47%, #ECF1E9 97.93%);
    font-family: poppins !important;

    p {
        font-weight: 300;
    }
}

header {
    height: 80px;

    .navbar {
        background-color: #0C0C0E;
        z-index: 10;

        .navbar-brand {
            width: 150px;

            img {
                width: 100%;
            }
        }

        .navbar-collapse {
            justify-content: end;
        }

        ul {
            list-style: none;
            font-weight: 200;
            text-transform: uppercase;
            font-family: jost;

            li {
                display: inline-block;
                margin: 0px 5px;

                a {
                    text-decoration: none;
                    color: white;
                    letter-spacing: 1px;
                    font-size: 14px;
                    padding: 2px 10px;
                    border: 1px solid rgba(0, 0, 0, 0.12);


                    &:hover {
                        background: linear-gradient(180deg, rgba(137, 0, 136, 0.26) 0%, rgba(255, 255, 255, 0.12) 100%);
                        border: 1px solid rgba(0, 0, 0, 0.12);
                        backdrop-filter: blur(30px);
                        border-radius: 4px;
                        color: white;
                    }
                }

            }

            li.active {
                background: linear-gradient(180deg, rgba(137, 0, 136, 0.26) 0%, rgba(255, 255, 255, 0.12) 100%);
                border: 1px solid rgba(0, 0, 0, 0.12);
                backdrop-filter: blur(30px);
                border-radius: 4px;
                color: white;
            }
        }
    }

}


.banner {
    height: 709px;
    background-image: url('../assests/bnner_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        color: white;
        font-weight: 600;
        font-size: 8vw;
        text-shadow: 7px 14px 14px rgba(0, 0, 0, 0.43);
        opacity: 0.8;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 600px;
    }
}

.aboutUs {
    background-color: #0C0C0E;
    position: relative;

    .ellipse1 {
        position: absolute;
        bottom: -70px;
        left: 170px;
    }

    .ellipse2 {
        position: absolute;
        top: -25px;
        left: 450px;
    }

    .ellipse3 {
        position: absolute;
        right: 112px;
    }

    .row {
        .blur-effect {
            color: white;
            line-height: 29.5px;

            .text-container {
                height: auto;
                background: linear-gradient(180deg, rgba(137, 0, 136, 0.26) 0%, rgba(255, 255, 255, 0.12) 100%);
                border: 1px solid rgba(0, 0, 0, 0.12);
                backdrop-filter: blur(30px);
                border-radius: 15px;
                padding: 50px;
                margin: 80px 0;
            }
        }
    }
}


.fancyContent {
    height: auto;
    padding: 80px 0;

    .button-container {
        position: relative;

        button {
            z-index: 20;
        }

        img {
            position: absolute;
            left: -20px;
            bottom: -36px;
            z-index: -1;
            width: 90px;
        }
    }
}

.services {
    .container {
        background: linear-gradient(180deg, rgba(137, 0, 136, 0.60) 0%, rgba(66, 0, 200, 0.55) 100%);
        backdrop-filter: blur(30px);
        border-radius: 12px;
        color: white;

        .row {
            position: relative;

            .introText {
                margin-top: 30px;

                p {
                    width: 60%;
                }
            }

            button {
                position: absolute;
                transform: translate(-50%);
            }
        }

        img {
            border-radius: 10px 10px 0 0;
        }

        .blur-effect {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.43) 0%, rgba(255, 255, 255, 0.41) 100%);
            backdrop-filter: blur(20px);
            border-radius: 0px 0px 10px 10px;
        }

    }
}

.virualSection {
    height: auto;
    background-image: url('../assests/background_2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    margin: 200px 0 0 0;
    position: relative;

    .col {

        p {
            font-size: 50px;
            color: white;
        }

        img {
            float: right;
            width: 50%;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}

.footer {
    background-color: #0C0C0E;
    position: relative;
    padding: 80px 0 40px 0;
    color: white;
    font-weight: 300;

    .ellipse1 {
        position: absolute;
        bottom: -40px;
        left: 40px;
        z-index: 1;
    }

    .ellipse2 {
        position: absolute;
        top: -18px;
        left: 455px;
    }

    .ellipse3 {
        position: absolute;
        right: 320px;
        top: 40px;
    }

    .row {
        .col {
            background: linear-gradient(180deg, rgba(137, 0, 136, 0.26) 0%, rgba(255, 255, 255, 0.12) 100%);
            border: 1px solid rgba(0, 0, 0, 0.12);
            backdrop-filter: blur(30px);
            border-radius: 15px;
            padding: 20px;
            z-index: 2;

            img {
                width: 200px;
            }
        }

    }

    .importantLinks {
        ul {
            list-style: none;

            li {
                margin: 10px 0;

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    .socialMedia {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-top: 40px;

        .icon {
            background: linear-gradient(180deg, rgba(137, 0, 136, 0.26) 0%, rgba(255, 255, 255, 0.12) 100%);
            border: 1px solid rgba(0, 0, 0, 0.12);
            backdrop-filter: blur(30px);
            border-radius: 50%;
            height: 35px;
            width: 35px;
            padding: 5px;
            margin: 0 10px;

            a {
                color: white;
            }
        }
    }
}


.copyright {
    background-color: #0C0C0E;
    background: linear-gradient(180deg, rgba(137, 0, 136, 0.26) 0%, rgba(255, 255, 255, 0.12) 100%);
    border: 1px solid rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(30px);
}





// Custom Classes 
.btn-blur {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.68) 0%, rgba(255, 255, 255, 0.47) 100%);
    backdrop-filter: blur(30px);
    border-radius: 30px !important;
}

.centermid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightmid {
    display: flex;
    align-items: center;
    justify-content: right;
}

.leftmid {
    display: flex;
    align-items: center;
    justify-content: left;
}


@media only screen and (max-width:650px) {
    .banner {
        height: 500px;

        h1 {
            color: white;
            font-weight: 600;
            font-size: 10vw;
            text-shadow: 7px 14px 14px rgba(0, 0, 0, 0.43);
            opacity: 0.8;
        }

        .content {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 500px;
        }
    }

    .aboutUs {
        background-color: #0C0C0E;
        position: relative;

        .ellipse1 {
            position: absolute;
            bottom: -70px;
            left: 185px;
            width: 43%;
        }

        .ellipse2 {
            position: absolute;
            top: -10px;
            left: 200px;
        }

        .ellipse3 {
            position: absolute;
            right: 112px;
            width: 50%;
        }

        .row {
            .blur-effect {
                color: white;
                line-height: 29.5px;

                .text-container {
                    padding: 20px;
                    margin: 50px 0;
                }
            }
        }
    }

    .fancyContent {

        .button-container {

            img {
                position: absolute;
                left: 70px;
                bottom: -27px;
                z-index: -1;
                width: 90px;
            }
        }
    }

    .services {
        .container {

            .row {

                .introText {
                    margin-top: 30px;

                    p {
                        width: 100%;
                    }
                }
            }
        }
    }

    .virualSection {
        margin: 10px 0 0 0;

        .col {

            p {
                font-size: 18px;
            }
        }
    }

    .footer {
        padding: 40px 0 40px 0;

        .ellipse1 {
            position: absolute;
            bottom: 119px;
            left: 150px;
            z-index: 1;
            width: 50%;
        }

        .ellipse2 {
            position: absolute;
            top: 22px;
            left: 215px;
            width: 36%;
        }

        .ellipse3 {
            position: absolute;
            right: 320px;
            top: 300px;
        }

        .row {
            .col {
                margin-top: 10px;

                img {
                    width: 200px;
                }
            }

        }
    }

}